.container {
    width: 100%;
    height: 100%;

    background-color: black;

    display: flex;
    justify-content: center;
}

.container-personagens {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    background: rgba(221, 221, 221, 0.93);

    width: 80%;
    height: 90%;

    align-items: center;
    justify-content: center;
    align-content: center;
}

.container-titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 0 0 ;

}


.titulo-personagens {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;


    word-wrap: break-word;
}

.grade-personagens {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    background: #9E0000;

    width: 100%;
    height: 90%;

    align-items: center;
    justify-content: center;
    align-content: center;
}

.icone-pre-titulo img {
    padding: 0 30% 0 0;
    width: 30px;
}

.icone-pos-titulo img {
    padding-left: 30%;
    width: 30px;
}